[
    {sasl, [
        {sasl_error_logger, false}
    ]},

    {lager, [
        {log_level, debug},
        {flush_queue, true},
        {flush_threshold, 100},
        {async_threshold, 20},
        {async_threshold_window, 5},
        {crash_log, "crash.log"},
        {crash_log_msg_size, 65536},
        {crash_log_size, 1048576},
        {crash_log_date, "$D0"},
        {crash_log_count, 10},

        {handlers, [
            {lager_file_backend_node, [
                {file, "./log/critical.log"},
                {level, critical},
                {size, 1048576},
                {date, "$D0"},
                {count, 30},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, "[", severity, "]", message, "\n"]}
            ]},
            {lager_file_backend_node, [
                {file, "./log/error.log"},
                {level, error},
                {size, 1048576},
                {date, "$D0"},
                {count, 30}
            ]},
            {lager_file_backend_node, [
                {file, "./log/info.log"},
                {level, info},
                {size, 1048576},
                {date, "$D0"},
                {count, 30},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", module, ":", function, ":", line, "\n", message, "\n\n"]}
            ]},
            {lager_console_backend, [
                {level, info},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", module, ":", function, ":", line, "\n", message, "\n\n"]}
            ]}
        ]}
    ]},

    {quick_start, [

    ]}
].